<!-- <h2>Adicionar Carta ao Deck</h2>

<button mat-icon-button color="warn" aria-label="Fechar" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>

<div class="flex flex-wrap shadow-md p-4" style="overflow: auto;">
  <mat-card *ngFor="let card of availableCards"
            class="w-full mb-4 sm:w-1/6 md:w-1/8 lg:w-1/10 xl:w-1/10 p-2">
    <img [src]="card.imageUrl" alt="{{ card.name }} Image" class="w-full object-cover">
    <mat-card-content>
      <mat-card-title class="text-lg font-bold">{{ card.name }}</mat-card-title>
      <div class="text-base">Supertype: {{ card.supertype }}</div>
      <div *ngFor="let cardType of card.types">Type: {{ cardType }}</div>
    </mat-card-content>
    <button mat-button color="primary" (click)="addCardToDeck(card)">Adicionar ao Deck</button>
  </mat-card>
</div>

<button mat-button (click)="onNoClick()">Fechar</button> -->

<div class="custom-modal-class">
  <div class="modal-header">
    <button mat-icon-button color="warn" aria-label="Fechar" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <h2>Adicionar Carta ao Deck</h2>
  </div>
  <div class="modal-content" style="overflow: auto !important;">
    <div class="flex flex-wrap shadow-md p-4" style="overflow: auto;">
      <mat-card *ngFor="let card of availableCards" class="w-full mb-4 sm:w-1/6 md:w-1/8 lg:w-1/10 xl:w-1/10 p-2">
      <!-- <mat-card *ngFor="let selectedCard of selectedCards" class="w-full mb-4 sm:w-1/6 md:w-1/8 lg:w-1/10 xl:w-1/10 p-2"> -->
        <img [src]="card.imageUrl" alt="{{ card.name }} Image" class="w-full object-cover">
        <mat-card-content>
          <mat-card-title class="text-lg font-bold">{{ card.name }}</mat-card-title>
        </mat-card-content>
        <button mat-button color="primary" (click)="addCardToDeck(card)">Adicionar ao Deck</button>
      </mat-card>
    </div>
  </div>

  <div class="modal-footer">
    <button mat-button (click)="onNoClick()">Fechar</button>
  </div>
</div>
